body {
    
}

.doll4 {
    font: bolder;
}

.doll4:nth-of-type(4n) {
    background-color: powderblue
    }

    .doll4:nth-of-type(4n+1) {
        background-color: powderblue
    }

    .doll4:nth-of-type(4n+2) {
        background-color: lavender
    }

    .doll4:nth-of-type(4n+3) {
        background-color: lavender
    }




